<html>
<head>
<div class="divTable">
<div class="divTableBody">
<div class="divTableRow">
<div class="divTableCell">{{ sankey }}</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{{ tree }}</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{{ bar }}</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{{ map }}</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{{ scatter }}</div>
</div>
<div class="divTableRow">
<div class="divTableCell">{{ sunburst }}</div>
</div>
</div>
</div>
</body>
</html>